* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f3f6fb;
  margin: 0;
}

.header {
  background: linear-gradient(135deg, #2fb3a2, #5a8dee);
  color: white;
  text-align: center;
  padding: 25px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.header h1 {
  margin: 0;
  font-size: 26px;
}

.search {
  margin-top: 15px;
  position: relative;
  display: inline-flex;
  gap: 10px;
}

.search input {
  padding: 10px 14px;
  width: 320px;
  max-width: 70vw;
  border-radius: 8px;
  border: none;
  outline: none;
}

.search button {
  padding: 10px 16px;
  background: #2c5edc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.search button:hover {
  background: #1e4bc4;
}

/* AUTOCOMPLETE */
#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 75%;
  background: white;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 1000;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #eee;
}

.suggestion:hover {
  background: #f2f2f2;
}

/* MAIN LAYOUT */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  padding: 25px;
  max-width: 1200px;
  margin: auto;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card,
.city-card {
  background: white;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
}

/* MAP CARD */
.city-card {
  padding: 0;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 300px;
}

.weather-card {
  padding: 15px;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  text-align: center;
}

.info h3 {
  margin: 0;
}

.info img {
  width: 60px;
  height: 60px;
}

.divider {
  width: 1px;
  height: 40px;
  background: #ddd;
}

.forecast {
  display: flex;
  gap: 15px;
}

#attraction-details {
  /* width: 100%; */
  padding-right: 5px;
}

.details {
  width: 100%;
}

.place-card {
  background: white;
  border-radius: 12px;
  padding: 10px;
}

.place-card h3 {
  margin: 2px 0;
  text-align: center;
  color: #530440;
}

.title {
  margin: 4px 0;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.place-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.place-description {
  overflow-y: auto;
  max-height: 230px;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  margin: 8px 0 10px 0;
  text-align: justify;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #1a73e8;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card h3 {
  margin-top: 0;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

#todo-input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #ddd;
}

#todo-btn {
  padding: 8px 12px;
}

#todo-List li,
#packing-List li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-List li div {
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: red;
}

#todo-List li button {
  background-color: white;
  margin: 0;
  padding: 3px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  background: #1fb3ac;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card button:hover {
  background: #0d847e;
}

@media (width<= 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .search {
    flex-direction: column;
    align-items: center;
  }

  .search input {
    width: 90%;
  }

  .search button {
    width: 120px;
  }

  .forecast {
    flex-wrap: wrap;
    justify-content: center;
  }
}
